@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global styles and variables */
:root {
  /* Font */
  --global-font: 'Roboto', sans-serif;
  /* Colour palette */
  /* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1976D2 */
  --dark-blue: #004ba0;
  --light-blue: #63a4ff;
  --light-grey: #f5f5f6;
  --mid-blue: #1976d2;
  --mid-blue-pale: #1976d22d;
  /* Padding */
  --large-padding: 20px;
  --small-padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(---light-grey);
  display: flex;
  flex-direction: column;
  font: 12px var(--global-font);
  min-height: 100vh;
}

@media (min-width: 1440px) { /* Increase font size on larger screens */
  body {
    font: 14px var(--global-font);
  }
}

h1, h2, h3 {
  font-weight: 300;
}

/* Header section */
#page-header-container {
  background: var(--dark-blue);
  color: #fff;
  padding: 15px var(--small-padding);
}

@media (min-width: 1024px) { /* Increase padding on laptop and above screens */
  #page-header-container {
    padding: var(--large-padding);
  }
}

.bolder-header {
  font-weight: 400;
}

/* Create link form */
#create-link-container {
  background: var(--mid-blue);
  box-shadow: rgba(0, 0, 0, 0.637) 0px 2px 2.5px;
  color: #fff;
  margin-bottom: 3px;
  padding: var(--small-padding);
  z-index: 100;
}

@media (min-width: 1024px) { /* Increase padding on laptop and above screens */
  #create-link-container {
    padding: var(--large-padding);
  }
}

.form-cta {
  font-size: .9rem;
  font-weight: 400;
  padding-bottom: var(--small-padding);
}

.form-label {
  font-size: .75rem;
}

.form-input-field {
  border: 0;
  border-radius: 3px;
  font: 100% var(--global-font);
  height: 30px;
  margin: 2px 0 var(--small-padding);
  padding: 0 var(--small-padding);
  transition: all .2s;
  width: 100%;
}

.form-input-field:focus {
  box-shadow: 0 0 5px #000;
}

.btn-container {
  display: flex;
  text-align: right;
  width: 100%;
}

@media (min-width: 768px) { /* Change input width on tablet devices */
  .form-input-field-half {
    width: 50%;
  }

  .btn-container {
    width: 50%;
  }
}

@media (min-width: 1440px) { /* Change input width on larger monitors */
  .form-input-field-half {
    width: 40%;
  }

  .btn-container {
    width: 40%;
  }
}

@media (min-width: 2560px) { /* Change input width on retina monitors */
  .form-input-field-half {
    width: 30%;
  }

  .btn-container {
    width: 30%;
  }
}

.btn-container-left {
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: left;
  width: 170px;
}

.btn-container-right {
  flex-grow: 1;
  text-align: right;
}

.btn {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 3px var(--dark-blue);
  font: 100% var(--global-font);
  font-weight: 400;
  height: 30px;
  transition: all .2s;
  width: 50px;
}

.btn:hover {
  background: var(--light-grey);
  cursor: pointer;
}

#create-link-error-message, #edit-link-error-message {
  display: none;
  font-size: .7rem;
}

/* Link list */
#link-list-container {
  flex: 1;
  padding: 0;
}

.link-list-item {
  align-items: center;
  border-bottom: var(--mid-blue-pale) 1px solid;
  display: flex;
  height: 40px;
  padding: 0 var(--small-padding);
  z-index: -1;
}

@media (min-width: 1024px) { /* Increase padding on laptop and above screens */
  .link-list-item {
    padding: var(--large-padding);
  }
}

@media (min-width: 2560px) { /* Increase link item height on retina screens */
  .link-list-item {
    height: 60px;
  }
}

.link-list-item:hover {
  background: var(--light-grey);
}

.link-number {
  background: var(--mid-blue);
  border-radius: 20px;
  color: #fff;
  font-size: .6rem;
  margin-right: var(--small-padding);
  min-width: 20px;
  padding: 5px;
  text-align: center;
}

.link-url {
  color: #000;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-url:hover {
  color: var(--dark-blue);
}

@media (min-width: 425px) { /* Longer visible URL for wider mobile devices */
  .link-url {
    max-width: 300px;
  }
}

@media (min-width: 768px) { /* Longer visible URL for tablets */
  .link-url {
    max-width: 550px;
  }
}

@media (min-width: 1024px) { /* Longer visible URL for laptops and above */
  .link-url {
    max-width: 1000px;
  }
}

.link-buttons {
  flex-grow: 1;
  text-align: right;
}

.link-buttons-btn {
  background: 0;
  border: 0;
  cursor: pointer;
  width: 30px;
}

.btn-delete-link, .btn-edit-link {
  color: var(--dark-blue);
  width: 20px;
}

/* Edit link overlay */
#edit-link-container-overlay { 
  display: none;
}

#edit-link-form {
  width: 100%;
}

.edit-link-buttons-container {
  display: flex;
  text-align: right;
  width: 100%;
}

.edit-link-buttons-container-left {
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: left;
  width: 50px;
}

@media (min-width: 768px) { /* Increase error msg area on tablet and above */
  .edit-link-buttons-container-left {
    width: 150px;
  }
}

.edit-link-buttons-container-right {
  flex-grow: 1;
  text-align: right;
}

.blue-input {
  background: var(--light-grey);
  border: 1px solid var(--light-blue);
}

/* Edit and Delete link overlay general styles */
.overlay-dark-background {
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  left:0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 500;
}

.overlay-container {
  background: #fff;
  border-radius: 5px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 1000;
}

@media (min-width: 768px) { /* Increase overlay width on tablet and above */
  .overlay-container {
    width: 500px;
  }
}

/* Delete link overlay */
#delete-link-container-overlay {
  display: none;
}

.overlay-btn-container {
  text-align: right;
}

.submitted-url-delete {
  background: var(--mid-blue);
  border-left: solid 5px var(--light-blue);
  color: #fff;  
  display: block;
  font-weight: 400;
  margin: var(--small-padding) 0;
  overflow: hidden;
  padding: var(--small-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Pagination */
#pagination {
  align-items: center;
  background: var(--mid-blue);
  box-shadow: rgba(0, 0, 0, 0.637) 5px 0px 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 3px;
}

@media (min-width: 1024px) { /* Increase height on laptop and larger screens */
  #pagination {
    height: 75px;
  }
}

.btn-pag {
  background: #fff;
  border: 0;
  border-radius: 2px;
  font: .75rem var(--global-font);
  font-weight: 500;
  height: 25px;
  margin: 5px;
  width: 25px;
}

/* Footer */
#footer {
  background: var(--dark-blue);
  color: #fff;
  padding: var(--small-padding);
  text-align: center;
}

/* Results page styling */
#submission-container {
  height: 450px;
  padding: 20px var(--small-padding);
}

.submitted-url {
  background: var(--mid-blue);
  border-left: solid 5px var(--light-blue);
  color: #fff;  
  display: block;
  font-weight: 400;
  margin: var(--small-padding);
  overflow: hidden;
  padding: var(--small-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) { /* Reduce width of input on tablet and larger sizes */
  .submitted-url {
    width: 50%;
  }
}

#thank-you-msg {
  margin: var(--large-padding) 0;
}

#back-button-container {
  text-align: left;
  margin: var(--large-padding) 0;
}

.btn-blue {
  background: var(--mid-blue);
  color: #fff;
  margin-left: 5px;
}

.btn-blue:hover{
  color: #000;
}

.tick {
  color: #339933;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.637) 0px 2px 2.5px;
}

.footer-shadow {
  box-shadow: rgba(0, 0, 0, 0.637) 5px 0px 5px;
}