@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Global styles and variables */
:root {
  /* Font */
  --global-font: 'Roboto', sans-serif;
  /* Colour palette */
  /* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1976D2 */
  --dark-blue: #004ba0;
  --mid-blue: #1976d2;
  --mid-blue-pale: #1976d22d;
  --light-blue: #63a4ff;
  --light-grey: #f5f5f6;
  /* Padding */
  --mobile-padding: 10px;
  --large-padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(---light-grey);
  font: 12px var(--global-font);
}

h1, h2, h3 {
  font-weight: 300;
}

/* Header section */
#page-header-container {
  background: var(--dark-blue);
  color: #fff;
  padding: 15px var(--mobile-padding);
}

@media (min-width: 1024px) {
  #page-header-container {
    padding: var(--large-padding);
  }
}

.bolder-header {
  font-weight: 400;
}

/* Create link form */
#create-link-container {
  background: var(--mid-blue);
  box-shadow: rgba(0, 0, 0, 0.637) 0px 2px 2.5px;
  color: #fff;
  margin-bottom: 3px;
  padding: var(--mobile-padding);
  z-index: 100;
}

@media (min-width: 1024px) { /* Increase padding on laptop and above screens */
  #create-link-container {
    padding: var(--large-padding);
  }
}

.form-cta {
  font-weight: 400;
  padding-bottom: var(--mobile-padding);
}

.form-label {
  font-size: .75rem;
}

.form-input-field {
  border: 0;
  border-radius: 3px;
  font: 100% var(--global-font);
  height: 30px;
  margin: 2px 0 var(--mobile-padding);
  padding: 0 var(--mobile-padding);
  transition: all 0.2s;
  width: 100%;
}

.form-input-field:focus {
  box-shadow: 0 0 5px #000;
}

.btn-container {
  display: flex;
  text-align: right;
  width: 100%;
}

@media (min-width: 768px) { /* Change input width on tablet devices */
  .form-input-field {
    width: 50%;
  }

  .btn-container {
    width: 50%;
  }
}

.btn-container-left {
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: left;
  width: 170px;
}

.btn-container-right {
  flex-grow: 1;
  text-align: right;
}

.btn {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 3px var(--dark-blue);
  font: 100% var(--global-font);
  font-weight: 400;
  height: 30px;
  transition: all 0.2s;
  width: 50px;
}

.btn:hover {
  background: var(--light-grey);
  cursor: pointer;
}

#create-link-error-message {
  display: none;
  font-size: .7rem;
}

/* Link list */
#link-list-container {
  padding: 0;
  position: relative;
  min-height: 90vh;
}

.link-list-item {
  align-items: center;
  border-bottom: var(--mid-blue-pale) 1px solid;
  display: flex;
  height: 40px;
  padding: 0 var(--mobile-padding);
  z-index: -1;
}

@media (min-width: 1024px) {
  .link-list-item {
    padding: var(--large-padding);
  }
}

.link-list-item:hover {
  background: var(--light-grey);
}

.link-number {
  background: var(--mid-blue);
  border-radius: 20px;
  color: #fff;
  font-size: .6rem;
  margin-right: var(--mobile-padding);
  padding: 5px;
  text-align: center;
  min-width: 20px;
}

.link-url {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

@media (min-width: 425px) { /* longer visible URL for wider mobile devices */
  .link-url {
    max-width: 300px;
  }
}

@media (min-width: 768px) { /* longer visible URL for tablets */
  .link-url {
    max-width: 550px;
  }
}

@media (min-width: 1024px) { /* longer visible URL for laptops and above */
  .link-url {
    max-width: 1000px;
  }
}

.link-buttons {
  flex-grow: 1;
  text-align: right;
}

.link-buttons-btn {
  background: 0;
  border: 0;
  cursor: pointer;
  width: 30px;
}

.btn-delete-link, .btn-edit-link {
  color: var(--dark-blue);
  width: 20px;
}

/* Edit link overlay */
#edit-link-container-overlay { /* darkens the background */
  background-color: rgba(0, 0, 0, 0.39);
  display: none;
  height: 100%;
  left:0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 500;
}

#edit-link-container {
  background: #fff;
  border-radius: 5px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 1000;
}

@media (min-width: 768px) {
  #edit-link-container {
    width: 500px;
  }
}

.blue-input {
  background: var(--light-grey);
  border: 1px solid var(--light-blue);
}

/* Pagination */
#pagination {
  align-items: center;
  background: var(--mid-blue);
  box-shadow: rgba(0, 0, 0, 0.637) 5px 0px 5px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 3px;
}

@media (min-width: 1024px) { /* Increase height on laptop and larger screens */
  #pagination {
    height: 75px;
  }
}

.btn-pag {
  background: #fff;
  border: 0;
  border-radius: 2px;
  font: .75rem var(--global-font);
  font-weight: 500;
  height: 25px;
  margin: 5px;
  width: 25px;
}

/* Footer */
#footer {
  background: var(--dark-blue);
  color: #fff;
  padding: var(--mobile-padding);
  text-align: center;
}

/* Results page styling */
#submission-container {
  height: 450px;
  padding: 20px var(--mobile-padding);
}

.submitted-url {
  background: var(--mid-blue);
  border-left: solid 5px var(--light-blue);
  color: #fff;  
  display: block;
  font-weight: 400;
  margin: var(--mobile-padding);
  padding: var(--mobile-padding);
}

.btn-blue {
  background: var(--mid-blue);
  color: #fff;
  margin-top: var(--mobile-padding);
}

.btn-blue:hover{
  color: #000;
}

.tick {
  color: #339933;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.637) 0px 2px 2.5px;
}

.footer-shadow {
  box-shadow: rgba(0, 0, 0, 0.637) 5px 0px 5px;
}